
    <h1 style="text-align:center; 
        font-family: Arial, Helvetica;
    ">Se Publico una Nueva Nacante para ti</h1>
    
    <p style="font-family: Arial, Helvetica;">Hola! Se creó una nueva vacante, que esperas para postularte?.</p>
    
    <a style="
        display:block; 
        font-family: Arial, Helvetica;
        padding: 1rem; 
        background-color: #00C897; 
        color:white; 
        text-transform:uppercase; 
        text-align:center;
        text-decoration: none;"
    href="{{vacanteUrl}}">Ver la Nueva Vacante</a>
    
    <p style="font-family: Arial, Helvetica;">Si no puedes acceder a este enlace, visita: {{vacanteUrl}}</p>
    <p style="font-family: Arial, Helvetica;">Gracias por formar parte de devJobs</p>